.box {
  border: 3px solid #00abf2;
  text-align: center;
  width: 100%;
  margin: 6px;
  height: 120px;
}

.custom-box {
  margin-top: 10px;
}

.custom-height {
  height: 240px;
}

.marketing {
  grid-area: 1 / 1 / span 3 / span 4;
}

.biz-dev {
  margin-top: 3px;
}

.sales {
  width: 100%;
}

.customer {
  width: 38%;
  display: inline-block;
  margin-right: 4px;
}

.business {
  width: 20%;
  display: inline-block;
  margin-right: 4px;
}

.c-sales {
}

.c-cs {
}

.atone {
  width: 20%;
  display: inline-block;
  margin-right: 4px;
}

.b-sales {

}

.b-cs {

}

.taiwan {
  width: 19%;
  display: inline-block;
}

.ba {

}

.back-office {
  width: 100%;
}

.human-resourses {
  width: 33%;
  display: inline-block;
  margin-right: 4px;
}

.finances {
  width: 33%;
  display: inline-block;
  margin-right: 4px;
}

.legal {
  width: 32%;
  display: inline-block;
  margin-right: 4px;
}
